@screen 2xl {
  .video-block{
    padding: rem(70px) 0;
    &__header{
      margin-bottom: rem(44px);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__content{
      grid-template-columns: 1fr 2.4fr;
      grid-gap: rem(31px);
      p{
        font-size: rem(18px);
        line-height: rem(24px);
      }
    }
    &__gallery{
      grid-template-columns: 1fr 3fr;
      grid-gap: rem(30px);
      &-images{
        grid-template-columns: 100%;
        grid-gap: rem(16px);
        img{
          height: rem(129px);
        }
      }
      &-video{
        order: inherit;
        height: 100%;
        margin-bottom: 0;
      }
    }
  }
}