.video-block{
  background-color: var(--grey-color);
  padding: rem(20px) 0;
  &__header{
    margin-bottom: rem(20px);
  }
  &__content{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: rem(20px);
    p{
      font-size: rem(14px);
      line-height: rem(24px);
      color: #525A68;
      &:not(:last-child){
        margin-bottom: rem(20px);
      }
    }
  }
  &__gallery{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: rem(10px);
    &-images{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: rem(10px);
      &__item{
        border-radius: 5px;
      }
      img{
        width: 100%;
      }
    }
    &-video{
      order: -1;
      border-radius: 5px;
      min-height: rem(158px);
    }
  }
}
@import "media";