.catalog-navigation{
  background-color: var(--yellow-color);
  padding: rem(20px) 0 rem(60px) 0;
  &__mobile{
    display: none;
  }
}
.catalog-nav{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: rem(20px);
  justify-content: space-between;
  text-align: center;
  color: var(--black-bold);
  font-weight: bold;
  line-height: rem(16px);
  a {
    display: block;
  }
  &__img{
    display: flex;
    justify-content: center;
    margin-bottom: rem(10px);
    img {
      width: rem(50px);
      height: rem(50px);
    }
  }
}
@import "media";