.advantages{
  background-color: #fff;
  margin-bottom: rem(20px);
  box-shadow: 0px 0px 50px rgba(218, 229, 235, 0.5);
  border-radius: 5px;
  &-list{
    position: relative;
    &__item{
      padding: rem(20px);
      &__img{
        margin-bottom: rem(18px);
        display: flex;
        justify-content: center;
        img{
          max-width: rem(60px);
        }
      }
      &__title{
        font-weight: bold;
        font-size: rem(14px);
        line-height: rem(16px);
        text-align: center;
        color: #525A68;
      }
      &__subtitle{
        font-weight: bold;
        font-size: rem(12px);
        line-height: rem(24px);
        text-align: center;
        color: #A5A9AF;
      }
    }
    .slick-dots{
      display: flex;
      justify-content: center;
      padding: rem(10px) 0;
      margin-top: rem(1px);
      li{
        width: 10px;
        height: 10px;
        left: 175px;
        top: 8397px;
        border: 1px solid #A5A9AF;
        font-size: 0;
        border-radius: 50%;
        &:not(:last-child){
          margin-right: rem(6px);
        }
        &.slick-active{
          border: 1px solid #FFC80A;
        }
      }
    }
  }
}
@import "media";