@screen 2xl {
  .catalog-banner{
    &__link{
      display: none;
    }
    &__container{
      grid-template-columns: 1.2fr 2fr;
      grid-gap: rem(30px);
    }
    &__wrapper{
      padding: rem(30px);
      margin-top: -80px;
    }
    &__title{
      line-height: rem(70px);
    }
    &__catalog{
      &-list{
        grid-template-columns: repeat(4,1fr);
        grid-gap: rem(30px);
        max-height: inherit;
        &__item{
          &--large{
            height: rem(250px);
            a{
              grid-template-columns: 1.4fr rem(200px);
            }
            &.start{
              grid-column-start: 1;
              grid-column-end: 3;
            }
            &.end{
              grid-column-start: 3;
              grid-column-end: 5;
            }
            .catalog-banner__catalog-list__title{
              font-size: rem(24px);
              line-height: rem(28px);
              margin-bottom: rem(20px);
            }
          }
        }
        &__title{
          font-size: rem(14px);
          line-height: rem(16px);
        }
        &__text{
          display: block;
          font-size: rem(14px);
          line-height: rem(16px);
        }
      }
    }
  }
}