@screen lg {
  .catalog-product{
    &__header{
      grid-template-columns: rem(230px) max-content;
      grid-gap: rem(20px);
      margin-bottom: rem(30px);
    }
    &__sort-select {
      position: relative;
      max-width: rem(230px);
    }
    &__list{
      display: grid;
      grid-gap: rem(30px);
      grid-template-columns: repeat(4,1fr);
      &-img,&-title{
        margin-bottom: rem(20px);
      }
      &-title{
        font-size: rem(24px);
        line-height: rem(28px);
      }
      &-container{
        transition: all 500ms ease-in-out;
        padding: rem(14px);
      }
      &-v1{
        .catalog-product__list-item{
          &:hover  .catalog-product__list-container{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            box-shadow: 0px 0px 50px #DAE5EB;
            height: max-content;
            background-color: #fff;
          }
        }
      }
      &-v2{
        grid-template-columns: repeat(2,1fr);
        .catalog-product__list-footer{
          display: grid;
          grid-template-columns: 1.1fr 1fr;
          align-items: center;
          justify-content: space-between;
          grid-gap: rem(25px);
        }
        .catalog-product__list-container{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: rem(30px);
        }
        .catalog-product__list-img,.catalog-product__list-price__container{
          margin-bottom: 0;
        }
        .catalog-product__btn{
          order: -1;
        }
      }
    }
    &__adv{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 0;
      margin-right: 0;
      padding: rem(30px) rem(50px);
      &-img{
        margin-bottom: 0;
      }
    }
  }
}