@screen md {
  .popular-fances{
    padding: rem(75px) 0 rem(96px) 0;
    &__list{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: rem(30px);
    }
    &__title{
      margin-bottom: rem(70px);
    }
  }
}
@screen lg {
  .popular-fances{
    &__list{
      grid-template-columns: repeat(4,1fr);
    }
  }
}
