@screen md {
  .subscribe-block{
    &__container{
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-gap: rem(30px);
    }
    &__title{
      line-height: rem(42px);
    }
    &__form{
      grid-template-columns: repeat(3,1fr);
      align-items: center;
      grid-gap: rem(30px);
    }

  }
}