.catalog-metal{
  &__nav{
    margin-bottom: rem(20px);
    &-item{
      display: flex;
      align-items: center;
      i{
        font-size: rem(12px);
        padding-right: rem(14px);
      }
      a{
        line-height: rem(32px);
      }
    }
  }
  &__hr{
    hr{
      display: block;
      height: rem(4px);
      background: var(--grey-color);
      border-radius: 5px;
    }
  }
  &-variants{
    background-color: var(--grey-color);
    padding: rem(20px) 0;
    &__description{
      margin-bottom: rem(20px);
    }
    &__list{
      display: grid;
      grid-template-columns: 100%;
      grid-gap: rem(20px);
      margin-bottom: rem(20px);
      &-img{
        margin-bottom: rem(20px);
        display: block;
        img{
          width: 100%;
          border-radius: 5px;
        }
      }
      &-header{
        margin-bottom: rem(20px);
      }
      &-footer{
        display: grid;
        grid-template-columns: 100%;
        grid-gap: rem(10px);
      }
      &-title{
        display: block;
        font-weight: bold;
        font-size: rem(18px);
        line-height: rem(21px);
        color: #273142;
      }
      &-price{
        font-size: rem(18px);
        line-height: rem(21px);
        color: #525A68;
      }
      &-more{
        display: block;
        text-align: center;
      }
    }
  }
  &-about{
    padding: rem(20px) 0;
    .checked-list{
      margin-top: rem(30px);
    }
  }
  &-steps{
    padding: rem(20px) 0;
    background-color: var(--grey-color);
  }
  &-popular{
    .catalog-product__list-description{
      display: none;
    }
  }
  &-subscribe{
    position: relative;
    bottom: rem(-24px);
    z-index: 1;
  }
}
@import "media";