@screen 2xl {
  .master-block{
      display: grid;
      padding: rem(45px);
      position: relative;
      grid-template-columns: 2fr 1fr;
      grid-gap: rem(40px);
      &__img{
        display: block;
        position: relative;
        img{
          transform: scale(1.2);
          position: absolute;
          top: rem(-12px);
          right: rem(-17px);
        }
      }
      &__title{
        font-size: rem(48px);
        line-height: rem(56px);
        margin-bottom: rem(25px);
      }
      &__content{
        font-size: rem(18px);
        line-height: rem(24px);
        margin: rem(25px) 0 rem(63px) 0;
      }
      &__form{
        grid-template-columns: 1.5fr 1fr;
        &-submit{
          height: 100%;
        }
      }
    }
}