@screen 2xl {
  .catalog-gates{
    &__nav{
      height: inherit;
      overflow: hidden;
      grid-gap: rem(30px);
      grid-template-columns: repeat(auto-fit,minmax(228px,229px));
      &-more{
        display: none;
      }
    }
    &-tab{
      padding-bottom: rem(70px);
      &__nav{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-bottom: rem(40px);
        border-bottom: 4px solid var(--grey-color);
      }
      &__container{
        margin-top: rem(30px);
      }
      hr{
        display: none;
      }
    }
  }
}