.catalog-gates{
  &__nav{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: rem(10px);
    &-more{
      margin-top: rem(20px);
    }
    &-title{
      color: #000000;
      font-size: rem(14px);
      line-height: rem(16px);
    }
    &-item{
      a{
        display: grid;
        grid-template-columns: rem(98px) 1fr;
        grid-gap: rem(20px);
        align-items: center;
        img{
          border-radius: 5px;
          width: 100%;
        }
      }
    }
  }
  &-tab{
    padding-bottom: rem(70px);
    &__nav{
      overflow: hidden;
      border-radius: rem(5px);
      margin-bottom: rem(20px);
      &-item{
        background: linear-gradient(246.93deg, #B5CDDA 14.94%, #D6E2EA 85.06%);
        color: #525A68;
        text-align: center;
        padding: rem(13px);
        font-weight: bold;
        &.active{
          background: #FFC80A;
        }
      }
    }
    &__item{
      display: none;
      &.active{
        display: block;
      }
    }
    hr{
      margin-bottom: rem(20px);
    }
  }

}
@import "media";