.product-fence{
  &__tab{
    padding: rem(20px) 0;
    &-nav{
      background-color: var(--grey-color);
      border-radius: 5px;
      padding: rem(20px);
      margin-bottom: rem(15px);
      &__item{
        font-size: rem(18px);
        line-height: rem(21px);
        color: #000000;
        font-weight: bold;
        padding-bottom: rem(10px);
        &:not(:last-child){
          margin-bottom: rem(20px);
        }
        &.active{
          border-bottom: rem(3px) solid var(--yellow-color);
        }
      }
    }
    &-container{
      display: none;
      &.active{
        display: block;
      }
    }
  }
  &-variants{
    display: none;
  }
}
@import "media";