@tailwind base;
@tailwind components;
@tailwind utilities;
html {
	box-sizing: border-box;
	font-size: var(--root-font-size);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	position: relative;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: var(--font-size);
	line-height: var(--line-height);
	background-color: var(--main-bg-color);
	color: var(--main-color);
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

button:focus,
input:focus {
	outline: transparent;
}

button {
	@include no-btn;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}
ol:not([class]){
	list-style-type: decimal;
	padding-left: rem(15px);
	li{
		&::marker{
			font-weight: bold;
		}
		&:not(:last-child){
			margin-bottom: rem(15px);
		}
	}
}
h1,h2,h3,h4,h5,h6,.title-h1,.title-h2,.title-h3,.title-h4,.title-h5,.title-h6{
	font-weight: bold;
}
h1,.title-h1{
	font-size: rem(24px);
	line-height: rem(28px);
	margin-bottom: rem(20px);
}
h2,.title-h2{
	font-size: rem(22px);
	line-height: rem(25px);
	margin-bottom: rem(10px);
}
h3,.title-h3{
	font-size: rem(20px);
	line-height: rem(23px);
	margin-bottom: rem(10px);
}
h4,.title-h4{
   font-size: rem(18px);
   line-height: rem(21px);
	margin-bottom: rem(10px);
}
h5,.title-h5{
	font-size: rem(16px);
	line-height: rem(18px);
	margin-bottom: rem(10px);
}
h6,.title-h6{
	font-size: rem(14px);
	line-height: rem(16px);
	margin-bottom: rem(10px);
}
iframe{
	width: 100%;
	height: 100%;
}
@media (max-width: 640px) {
	.container{
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
// Action button
.btn{
	background: #FFC80A;
	border-radius: 5px;
	width: 100%;
	height: 52px;
	display: flex;
	cursor: pointer;
	justify-content: center;
	font-size: rem(16px);
	font-weight: bold;
	align-items: center;
	color: var(--black-bold);
	transition: all 500ms ease-in-out;
	&-action{
		background-color: var(--yellow-color);
		&:hover{
			background-color: var(--light-yellow-color);
		}
	}
}
// Contact list
.contact-list{
	&__item{
		display: grid;
		grid-template-columns: rem(24px) 1fr;
		grid-gap: rem(15px);
		align-items: center;
	}
	&__info-title{
		color: var(--light-grey-color);
		font-size: rem(14px);
		line-height: rem(16px);
	}
	&__info-link{
		font-size: rem(16px);
		line-height: rem(18px);
		font-weight: bold;
		&[href^="tel:"]{
			font-size: rem(20px);
		}
	}
	&__icon{
		font-size: rem(17px);
		text-align: center;
	}
}
//Form
.form{
	&__fieldset{
		border: 1px solid #D4D6D9;
		border-radius: 5px;
		padding-inline-start: rem(15px);
		position: relative;
		background-color: #fff;
		&.required::after{
			content: '';
			display: block;
			width: rem(10px);
			height: rem(10px);
			background: #EB5757;
			border: 2px solid #FFFFFF;
			border-radius: 50%;
			position: absolute;
			top: -16px;
			right: rem(8px);
		}
		legend{
			font-size: rem(12px);
			color: var(--light-grey-color);
		}
	}
    &__textarea,&__input{
		padding: 0 rem(10px) rem(10px) 0;
		display: block;
		width: 100%;
		resize: none;
		color: var(--light-grey-color);
		font-size: rem(18px);
		outline: none;
	}
	&__checkbox-container{
		display: grid;
		grid-template-columns: rem(40px) 1fr;
		grid-gap: rem(20px);
		color: var(--light-grey-color);
		align-items: center;
	}
	&__checkbox-icon{
		height: rem(40px);
        background-color:  #EEF4F8;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		&.not-checked{
			background-color: #fff;
			border: 1px solid #EEF4F8;
		}
	}
}
// See more
.see-more{
	display: block;
	width: max-content;
	font-size: rem(14px);
	&__text{
		margin-left: rem(15px);
	}
}
//Slider btn
.slider-btn{
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(20px);
	height: rem(20px);
	background: var(--yellow-color);
	border-radius: 5px;
	font-size: rem(12px);
}
// Product list
.product-list{
	 &__img{
		 box-shadow: 0px 0px 50px #DAE5EB;
		 border-radius: 5px;
		 overflow: hidden;
		 img{
			 width: 100%;
		 }
		 margin-bottom: rem(10px);
	 }
	&__title{
		font-weight: bold;
		font-size: rem(18px);
		line-height: rem(21px);
		color: #273142;
		margin-bottom: rem(10px);
	}
	&__char-list{
		color: var(--light-grey-color);
		margin-bottom: rem(20px);
		&-item{
			line-height: rem(24px);
		}
	}
	&__price{
		margin-bottom: rem(20px);
		&-value{
			font-size: rem(24px);
			line-height: rem(28px);
			color: #525A68;
		}
	}
	.slick-dots{
		display: flex;
		justify-content: center;
		margin-top: rem(20px);
		li{
			width: 10px;
			height: 10px;
			left: 175px;
			top: 8397px;
			border: 1px solid #A5A9AF;
			font-size: 0;
			border-radius: 50%;
			&:not(:last-child){
				margin-right: rem(6px);
			}
			&.slick-active{
				border: 1px solid #FFC80A;
			}
		}
	}
}
// Footer
.footer{
	background-color: #fff;
	box-shadow: 0px 0px 50px rgba(82, 90, 104, 0.1);
	&-menus{
		padding: rem(20px) 0;
		&__item{
			&:not(:last-child){
				margin-bottom: rem(30px);
			}
		}
		&__nav{
			&__item{
				font-size: rem(14px);
				line-height: rem(16px);
				&:not(:last-child){
					margin-bottom: rem(12px);
				}
			}
		}
		&__title{
			font-weight: 500;
			font-size: rem(18px);
			line-height: rem(21px);
			color: #273142;
			margin-bottom: rem(20px);
		}
	}
}
//Mobile btn
.mobile-btn{
	height: rem(40px);
	width: rem(40px);
	border-radius: 5px;
	background-color: var(--yellow-color);
	font-size: rem(16px);
	display: flex;
	justify-content: center;
	align-items: center;
}
.choose-city{
	cursor: pointer;
}
// Search
.search{
	background: #EEF4F8;
	border-radius: rem(5px);
	padding: rem(18px) rem(14px);
	font-size: rem(14px);
	line-height: rem(16px);
	color: #B7C7D1;
	display: grid;
	grid-template-columns: 1fr 40px;
	grid-gap: rem(5px);
	justify-content: space-between;
	align-items: center;
	&-btn{
		color: var(--black-bold)
	}
	input{
		background: #EEF4F8;
	}
}
//Youtube
.youtube{
	background-size: cover;
	position: relative;
	height: 100%;
	&-container{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.play{
		background: center/40% url('../../img/global/icons/play.png') no-repeat #FFFFFF;
		display: flex;
		justify-content: center;
		cursor: pointer;
		align-items: center;
		color: #A5A9AF;
		border-radius: 50%;
		width: rem(35px);
		height: rem(35px);
		position: relative;
		box-shadow: 0 0 0 0 rgba(#fff, 1);
		animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
	}
}
@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@screen lg {
	// Footer
	.footer{
		&-menus{
			padding: rem(40px) 0;
			display: flex;
			justify-content: space-between;
			&__item{
				&:not(:last-child){
					margin-bottom: 0;
				}
			}
			&__nav{
				&.catalog{
					column-count: 3;
				}
				&__item{
					&:not(:last-child){
						margin-bottom: rem(12px);
					}
				}
			}
		}
	}
}
@screen md {
	h1,.title-h1{
		font-size: rem(48px);
		line-height: rem(56px);
		margin-bottom: rem(50px);
	}
	h2,.title-h2{
		font-size: rem(40px);
		line-height: rem(30px);
		margin-bottom: rem(30px);
	}
	h3,.title-h3{
		font-size: rem(36px);
		line-height: rem(30px);
		margin-bottom: rem(30px);
	}
	h4,.title-h4{
		font-size: rem(30px);
		line-height: rem(30px);
		margin-bottom: rem(30px);
	}
	h5,.title-h5{
		font-size: rem(24px);
		line-height: rem(30px);
		margin-bottom: rem(30px);
	}
	h6,.title-h6{
		font-size: rem(20px);
		line-height: rem(30px);
		margin-bottom: rem(30px);
	}
	// Slider btn
	.slider-btn{
		width: rem(40px);
		height: rem(40px);
		font-size: rem(18px);
	}
	blockquote{
		position: relative;
		display: grid;
		grid-template-columns: rem(23px) 1fr;
		grid-gap: rem(28px);
		&::before{
			content: '“';
			font-size: rem(64px);
			line-height: rem(69px);
			color: #DAE5EB;
		}
	}
	// Product list
	.product-list{
		&__img{
			margin-bottom: rem(20px);
		}
		&__title{
			font-size: rem(24px);
			line-height: rem(28px);
			margin-bottom: rem(20px);
		}
	}
}
@screen 2xl {
	.youtube{
		.play{
			width: rem(60px);
			height: rem(60px);
		}
	}
}