@tailwind base;
@tailwind components;
@tailwind utilities;
html {
	box-sizing: border-box;
	font-size: var(--root-font-size);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	position: relative;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: var(--root-font-size);
	line-height: var(--line-height);
	background-color: var(--main-bg-color);
	color: var(--main-color);
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

button:focus,
input:focus {
	outline: transparent;
}

button {
	@include no-btn;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}
h1,.title-h1{
	font-size: rem(24px);
	line-height: rem(28px);
	margin-bottom: rem(20px);
}
h2,.title-h2{
	font-size: rem(22px);
	line-height: rem(25px);
	margin-bottom: rem(10px);
}
h3,.title-h3{
	font-size: rem(20px);
	line-height: rem(23px);
	margin-bottom: rem(10px);
}
h4,.title-h4{
   font-size: rem(18px);
   line-height: rem(21px);
	margin-bottom: rem(10px);
}
h5,.title-h5{
	font-size: rem(16px);
	line-height: rem(18px);
	margin-bottom: rem(10px);
}
h6,.title-h6{
	font-size: rem(14px);
	line-height: rem(16px);
	margin-bottom: rem(10px);
}
@screen md {
	h1,.title-h1{
		font-size: rem(48px);
		line-height: rem(56px);
		margin-bottom: rem(50px);
	}
	h2,.title-h2{
		font-size: rem(40px);
		line-height: rem(30px);
		margin-bottom: rem(30px);
	}
	h3,.title-h3{
		font-size: rem(36px);
		line-height: rem(30px);
		margin-bottom: rem(30px);
	}
	h4,.title-h4{
		font-size: rem(30px);
		line-height: rem(30px);
		margin-bottom: rem(30px);
	}
	h5,.title-h5{
		font-size: rem(24px);
		line-height: rem(30px);
		margin-bottom: rem(30px);
	}
	h6,.title-h6{
		font-size: rem(20px);
		line-height: rem(30px);
		margin-bottom: rem(30px);
	}
}
@media (max-width: 640px) {
	.container{
		padding-left: 2rem;
		padding-right: 2rem;
	}
}