.faq-page{
  padding: rem(20px) 0;
  &__tab{
    display: none;
    &.active{
      display: block;
    }
  }
  &__nav{
    &-list{
      &__item{
        cursor: pointer;
        &.active{
          .page-nav__list-title{
            border: none !important;
            font-weight: bold;
          }
        }
      }
    }
  }
  &-container{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: rem(20px);
  }
  &-search{
    margin-bottom: rem(20px);
  }
}
@import "media";
