@screen 2xl {
  .work-block{
    padding: rem(45px);
    &__title{
      font-size: rem(30px);
      line-height: rem(34px);
      margin-bottom: rem(39px);
    }
    &__text{
      font-size: rem(18px);
      line-height: rem(24px);
      color: #333333;
      margin-bottom: rem(55px);
      max-width: 280px;
    }
    &__btn{
      max-width: 200px;
    }
    &__img{
      max-width: 223px;
    }
  }
}