//MEDIA: 1679
@media screen and (max-width: 1679px) {}

//!MEDIA: 1679

//MEDIA: 1439
@media screen and (max-width: 1439px) {}

//!MEDIA: 1439

//MEDIA: 1365
@media screen and (max-width: 1365px) {}

//!MEDIA: 1365

//MEDIA: 1359
@media screen and (max-width: 1359px) {}

//!MEDIA: 1359

//MEDIA: 1199
@media screen and (max-width: 1199px) {}

//!MEDIA: 1199

//MEDIA: 1023
@media screen and (max-width: 1023px) {}

//!MEDIA: 1023

//MEDIA: 991
@media screen and (max-width: 991px) {}

//!MEDIA: 991

//MEDIA: 767
@media screen and (max-width: 767px) {}

//!MEDIA: 767

//MEDIA: 639
@media screen and (max-width: 639px) {}

//!MEDIA: 639

//MEDIA: 369
@media screen and (max-width: 369px) {}


//Tailwind media
@screen 2xl {
  // Header
  .header{
    &__top{
      &-info{
        &__item{
          &:not(:first-child){
              display: flex;
          }
          &:not(:last-child){
            margin-right: rem(45px);
          }
        }
        &__text{
          font-size: rem(12px);
          line-height: rem(14px);
        }
      }
    }
    &-mobile{
      display: none;
    }
    &-desktop{
      display: block;
      padding: rem(20px) 0;
      border-top: 2px solid #F2F2F2;
      position: relative;
      &__btn-search{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #EEF4F8;
        border-radius: 5px;
        width: rem(52px);
        height: rem(52px);
      }
      &__catalog,&__submenu{
        display: none;
      }
      &__footer{
        display: grid;
        grid-template-columns: rem(228px) max-content rem(52px);
        grid-gap: rem(30px);
        justify-content: space-between;
        align-items: center;
      }
      &__menu{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &-item{
          position: relative;
          &:not(:last-child){
            margin-right: rem(30px);
          }
          &.submenu{
            &>a{
              display: flex;
              align-items: center;
              &::after{
                content: '';
                display: block;
                background: center/100% url('../img/global/icons/caret_down.svg') no-repeat;
                width: rem(10px);
                height: rem(20px);
                margin-left: rem(12px);
              }
            }
            ul{
              position: absolute;
              bottom: rem(-155px);
              background-color: #fff;
              border-radius: rem(5px);
              width: max-content;
              box-shadow: 0px 0px 50px 0px #DAE5EB;
              li{
                padding: rem(20px);
                a{
                  font-size: rem(18px);
                  line-height: rem(21px);
                  color: #525A68;
                }
                &:first-child{
                  position: relative;
                  &::before{
                    content: '';
                    border: 10px solid transparent;
                    border-bottom: 10px solid #fff;
                    position: absolute;
                    top: rem(-18px);
                    left: rem(30px);
                  }
                }
                &:not(:last-child){
                  border-bottom: 1px solid #F2F2F2;
                }
              }
            }
          }
        }
        &>a{
          font-weight: 500;
          font-size: rem(18px);
          line-height: rem(21px);
          color: #525A68;
        }
      }
      &__catalog{
        position: absolute;
        left: 0;
        right: 0;
        margin-top: rem(15px);
        border-radius: 5px;
        box-shadow: 14px 0px 50px #DAE5EB;
        background-color: #fff;
        z-index: 100;
        &-container{
          display: grid;
          grid-template-columns: rem(228px) 1fr;
        }
        &-btn{
          position: relative;
          grid-template-columns: rem(18px) max-content;
          align-items: center;
          color: #525A68;
          grid-gap: rem(20px);
          padding: rem(20px) rem(14px);
          justify-content: start;
          .fa-times{
            display: none;
          }
          &.active{
            .fa-times{
              display: block;
            }
            .fa-bars{
              display: none;
            }
          }
        }
        &__nav{
          &-list{
            padding: rem(30px);
            &__item{
              display: none;
              &.active{
                display: block;
              }
            }
          }
        }
        &-nav{
          &__btn-close{
            color: #BCBCBC;
          }
          &__title{
            font-size: rem(24px);
            line-height: rem(28px);
            display: flex;
            align-items: center;
            color: #525A68;
            border-bottom: 2px solid #FFC80A;
          }
          &__header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: rem(39px);
          }
          &__list{
            display: grid;
            grid-template-columns: repeat(5,1fr);
            grid-gap: rem(30px);
            align-items: center;
            &-item{
              background: #EEF4F8;
              border-radius: 5px;
              height: 104px;
              &:hover{
                background: center/cover url('../img/global/catalog-nav/active-bg.png') no-repeat;
              }
              &__title{
                padding: rem(28px) rem(5px) rem(28px) rem(20px);
                font-size: rem(14px);
                line-height: rem(16px);
                color: #000000;
              }
              &__img{
                img{
                  width: 100%;
                }
              }
              a{
                display: grid;
                grid-template-columns: 1.8fr 2fr;
                justify-content: space-between;
                align-items: center;
                height: 100%;
              }
            }
          }
        }
        &-menu{
          z-index: 100;
          background: #525A68;
          padding: rem(20px) 0;
          color: #fff;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          &__link{
            padding: rem(14px) rem(30px);
            font-size: rem(16px);
            line-height: rem(19px);
            text-decoration-line: underline;
            color: #FFFFFF;
          }
          &__list{
            font-size: rem(16px);
            line-height: rem(19px);
            &-item{
              padding: rem(14px) rem(30px);
              position: relative;
              cursor: pointer;
              &.active,&:hover{
                background: #8590A3;
              }
              &.active{
                &::after{
                  content: '';
                  border: 8px solid transparent;
                  border-right: 8px solid #fff;
                  display: block;
                  position: absolute;
                  right: 0;
                  top: 35%;
                }
              }
            }
          }
        }
      }
    }
  }
}